

.header{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    border: 2px dotted rgb(191, 127, 36);
    padding: 40px;
}
.text {
 
    font-size:14px;
    margin-left: 20px;
    margin-top: 20px;
    color:#063D85; 
}
a {
    text-decoration: none;
}

  

        .knopka1 {
        width: 150px;
        height: 50px;
        left: 29px;
        top: 14px;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: linear-gradient(45.00deg, rgb(231, 128, 37),rgb(137, 51, 5));
        -webkit-background-clip:text;-webkit-text-fill-color:transparent;
        font-family:Nexa-Trial, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        border: solid 2px;
        border-radius: 5%;
        border-image: linear-gradient(45.00deg, rgb(231, 128, 37),rgb(137, 51, 5));
        border-image-slice: 1;
        padding: 10px;
}
.flex-container0{
    display: flex;
    width: 100%;
}
.flex-container-1{
    display: flex;
    width: 100%;

}
.flex-container1{
    display: flex;
    width: 100%;
    border: 2px dotted green;
    padding: 40px;
    justify-content:space-around;
}
.flex-element1{
    width: 100%;
    height: 300px;
    margin-right: 10px;
    background: orange;
    font-size: 46px;
    text-align: center;

}

.flex-container2 {
    display: flex;
    width: 100%;
    flex-direction:column;
    border: 2px dotted green;
    padding: 40px;
    justify-content:space-around;
  }
  
  .flex-element2 {
    width: 100%;
    height: 300px;
    margin-right: 10px;
    background: orange;
    font-size: 46px;
    text-align: center;
  }
  .flex-container-footer{
    display: flex;
    border: 2px dotted rgb(8, 8, 8);
    padding: 40px;
    background-color: black;
    justify-content:space-around;
  }
  .flex-element4{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background: orange;
    font-size: 46px;
    text-align: center;

  }
  .flex-element3{
    width: 300px;
    height: 100px;
    margin-right: 10px;
    background: rgb(91, 89, 86);
    font-size: 46px;
    text-align: center;
    flex-direction:row;
    justify-content:space-around;
  }